<template>
	<div id="mercure">
		<!-- 美爵品牌展示 -->
		<el-row class="w1200 brands-intro" style="height:550px;margin:100px auto;" >
			<el-col :span=16 class="brands-intro-item" style="background-color:#ffffff;" v-if="hotelData.history">
				<img :src="hotelData.logo" alt=""/>
				<p class="line-h36" >{{hotelData.history.p1}}</p>
				<p class="line-h36">{{hotelData.history.p2}}</p>
			</el-col>
			<el-col :span=8>
				<el-carousel trigger="click" height="550px" style="background-color:#ffffff;">
					<el-carousel-item v-for="(item,index) in hotelData.img" :key="index">
						<h3 class="small"><img :src="item" style="width: 100%; height: 100%;"></h3>
					</el-carousel-item>
				</el-carousel>
			</el-col>
		</el-row>
		<!-- 品牌发展力 -->
		<el-row class="capacity" style="background-color:#FFFFFF;">
			<el-row><p><span class="side-line font-size-28">品牌发展力</span></p></el-row>
			<el-row class="w1200">
				<el-carousel trigger="click" height="400px" style="background-color:#FFFFFF;">
					<el-carousel-item v-for="(item,index) in hotelData.des" :key="index">
						<el-col :span=12 style="padding:30px 60px 67px;margin-right:40px;width:calc(50% - 40px)">
							<div>
								<p class="font-size-24" >{{item.p1}}</p>
								<p class="line-h32"> {{item.p2}}</p>
							</div>
						</el-col>
						<el-col :span=12 style="padding:30px 60px 67px;margin-right:40px;width:calc(50% - 40px)">
							<div>
								<p class="font-size-24">{{item.p3}}</p>
								<p class="line-h32"> {{item.p4}}</p>
							</div>
						</el-col>
					</el-carousel-item>
				</el-carousel>
			</el-row>
		</el-row>
		<!-- 物业条件 -->
		<el-row class="property-condition w1200">
			<el-row><p><span class="side-line font-size-28">物业条件</span></p></el-row>
			<el-row v-for="(item,index) in hotelData.property_cond" :key="index" >
			<span style="margin-left:-1115px;">{{item.title}}:</span>
				<ul style="text-align:left;margin-bottom:40px"  >
					<li v-for="(item1,index) in item.property_cond_detail" :key="index" :style="((index%2)==1)?{backgroundColor:'#F7F7F7'}:{backgroundColor:'#fff'}">{{item1}}</li>
				</ul>
			</el-row>
		</el-row>
		<!-- 收费项目 -->
		<el-row class="pay-item w1200">
			<el-row><p><span class="side-line font-size-28">收费项目</span></p></el-row>
			<el-row v-for="(item,index) in hotelData.payData" :key="index">
				<span style="float:left;margin:20px">{{item.title}}:</span>
				<el-table :data="item.payData_detail" border stripe  style="width: 100%">
					<el-table-column prop="itemName" label="收费项目" width="270"> </el-table-column>
					<el-table-column prop="itemValue" label="2019" width=""> </el-table-column>
  				</el-table>
			</el-row>
		</el-row>
	</div>
</template>
<script>
import Axios from 'axios'
export default{
	name:"mercure",
	components:{
	
	},
	data(){
		return {
			hotelData:[]
		}
	},
	created(){
		var start=window.location.pathname.lastIndexOf("/");
		var len=window.location.pathname.length;
		var pathName=window.location.pathname.substr(8,len-start);
		console.log(pathName);
		Axios.get('../../hotelDetail.json').then((res)=>{
			for(let i=0;i<res.data.hotelData.length;i++)
			{
				if(pathName==res.data.hotelData[i].title)
				this.hotelData=res.data.hotelData[i];
			}
		})
	},
	watch: {
  $route: {
    handler: function(val, oldVal){
      Axios.get('../../hotelDetail.json').then((res)=>{
			for(let i=0;i<res.data.hotelData.length;i++)
			{
				if(val.params.id==res.data.hotelData[i].title)
				this.hotelData=res.data.hotelData[i];
			}
		});
    },
    // 深度观察监听
    deep: true
  }
},
	methods:{
          
	}

}
</script>
{"hotelData":[
        {
        "title":"grandMercure",
        "logo":"/join/选中_美爵.png",
        "history":{
            "p1":"20多年前，Grand Mercure“美爵”品牌问世，品牌根据其所在国家量身打造。每个国家都有自己独特的主题。美爵是一个贴心的品牌，一个精致的品牌，一个温暖的，充满关爱的品牌。",
            "p2":"每家美爵酒店都统一配备至少8种感受与故事 — 每个品牌支柱对应2种感受与故事。每家酒店都至少会向所有宾客免费提供其中1种。所有宾客在住宿过程中都可以免费享受1次热情好客之感体验、1次丰富味蕾之感体验、1次平衡养生之感体验和1次趣味探索之感体验。员工身着源于当地文化灵感而设计的制服，热情迎接客人。位于大中华区的美爵酒店及度假村通过在每间房间内提供当地的散装茶叶，让特色文化走进了酒店。同时，我们提供了水疗馆，健身房，游泳馆，健身项目以及舒适的生活空间，为来宾创造最好的体验。每个美爵酒店都致力为顾客创造一个城市发现之旅，告别“循规蹈矩”引导客人以不一样的方式去发现只有当地居民才了解的地方。为所有宾客提供独特的沉浸式品牌体验。"	
        },
        "des":[{"p1":"不断创新的发展战略",
            "p2":"美爵品牌一直致力于酒店的不断创新，无论是创新酒店产品本身，还是酒店日常运营模式，或是销售战略管理，美爵酒店一直在寻求新的突破口。作为高端五星级酒店品牌，品牌效益吸引着来自高端消费人群及高收益业务。美爵品牌的灵活度及全套服务设施可允许控制成本及费用。严格的成本控制体系与富有创造力的人员编制架构可为酒店带来可观的利润及投资回报。在此基础上，不断维护及升级酒店的设施设备以达到更高的收益。"
        ,"p3":"夯实的销售战略能力",
        "p4":"美爵酒店拥有丰富的管理经验，特别是全服务式的酒店营运管理。同时，总经理夯实的销售战略能力可适应于每一家酒店。为了更好的支持总经理以及他的行政委员会团队，总部各个职能会为酒店运营团队提供密切的支持及各种不同的工具、系统与培训，从而保证酒店的收益管理及盈利不断最大化。美爵品牌在开业后2-3个月内即可创造收益，总营业利润每年以5%-6%向上增长。"
        }
    ]
           ,
        "property_cond":[
            {
                "title":"",
            "property_cond_detail":[
                "酒店位于成熟区或度假区",
                "配套全日制餐厅2间、酒吧、会议室、商务中心、 行政酒廊、游泳池、健身中心",
                "房间数：不低于120 间",
                "房间实用面积：32-40㎡"
            ]
            }
           
        ],
        "img":[ "/hotelImg/meijue/1.jpg",
			 	 "/hotelImg/meijue/2.jpg",
			 	 "/hotelImg/meijue/3.jpg",
				 "/hotelImg/meijue/4.jpg",
				 "/hotelImg/meijue/5.jpg" 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"保准加盟费（一次性）","itemValue":"70万（品牌使用费）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"HUAZHU.CRS：8%；TARS：8%；海外OTA：实际房价*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"总营业收入6.5%"},
                    { "itemName":"酒店总经理费","itemValue":"按实结算"},
                    { "itemName":"审计和调查费用 (第三方公司收取)","itemValue":"17500元/年"},
                    { "itemName":"技术支持费","itemValue":"新建项目100万元，改建项目、租赁项目40-100万元"},
                    { "itemName":"HPMS安装费","itemValue":"初装费: HPMS PLUS的定价为10万/店；年度维护费: HPMS PLUS 系统年度维护费为300元/年/间客房；"},
                    { "itemName":"IT 服务费","itemValue":"VPN :  3500/月    VSSL:  20000/每年"}
                ]

            }
           
        ]
    },
    {
        "title":"hanting",
        "logo":"/join/选中_汉庭.png",
        "history":{
            "p1":"“汉”是浩瀚银河 “庭”是小巧院落,“汉”是一个民族 “庭”是家的温暖,“汉庭”二字寄托了创始人季琦先生“人在旅途、 家在汉庭”的美好愿望",
            "p2":"汉庭连续四年荣膺BrandZ最具价值中国品牌100强。 在通往国民酒店品牌的路上，汉庭坚持真材实料，一丝不苟， 不断优化酒店产品与硬件质量，始终融合现代美学设计， 以剔繁就简，精致品质化的理设计理念为旅人创造宜居舒适的空间。 无论你是谁，从哪儿来要去哪里，汉庭以最便利的位置、良好的口碑、 高性价比的产品与极致干净的运营体系给你最放心、舒适、温暖的家。"	
        },
        "des":[{
            "p1":"夯实基础 为您保驾护航",
            "p2":"汉庭拥有成熟的运营经验和服务体系，始终坚持设计标准、施工造价等信息公平、公正、公开的原则。每一位签约汉庭的加盟商都能绝对公平的享受完善的服务体系。 同时，对于加盟商提出的合理建议和需求，我们也会积极采纳。虽然城市类别、地理位置、物业条件等因素的差别，但通过不断优化产品，提高服务质量，整体经营业绩逐步递增，保障短期盈利、长期盈利能力。"
        ,
        "p3":"可持续发展 让效益立足长远",
        "p4":"汉庭品牌进行进一步市场细分，汉庭优佳定位于入门中档，汉庭2.5定位于大众消费酒店；未来三 年内计划新开业800-1000家酒店。从产品、服务模型上进行革新，打造成为高性价比、高颜值的“ 国民酒店”。作为经济型酒店行业的优选品牌，在2020年以前完成100%“去快捷化”产品升级改造 ，力争在硬件产品、服务品质方面进行大胆革新，增加产品附加值，优化入住体验，提高顾客满意 度，创造新的收益点。 "
            },
        {
           "p1":"一站式服务 箐英团队火力全开" ,
           "p2":"在聘用店长方面，均采用外聘+内提两种方式，外聘店长具有至少两年至三年星级酒店或经济型酒店工作经验，内提店长更具有至少三年至五年的汉庭酒店工作经验。目前，汉庭品牌正在积极推进 “箐英店长”计划，通过优化团队资源，激发人的创造性，提升酒店经营。"
        }],
        "property_cond":[{
             "title":"",
            "property_cond_detail":[
                "便利的交通条件",
                "周边生活气息浓厚、配套设施完善",
                "产权明晰、消防验收合格",
                "大堂公共区域面积：80㎡ 以上",
                "单间使用面积：17㎡以上",
                "建筑面积：2000-8000㎡",
                "接受翻牌酒店单间改造费用：3.5 万元",
                "框架物业单间营建成本：6.5-7.5 万元"
            ]
        }
           
           
        ],
          "img":[ "/hotelImg/hanting/1.jpg",
			 	 "/hotelImg/hanting/2.jpg",
			 	 "/hotelImg/hanting/3.jpg",
				 "/hotelImg/hanting/4.jpg"
				 
				 ],
        
        "payData":[{
            "title":"",
            "payData_detail":[
                { "itemName":"加盟期限","itemValue":"10年（按加盟商实际租赁合同为加盟年限）"},
                { "itemName":"保准加盟费","itemValue":"2500元/间（不低于15万）"},
                { "itemName":"保证金","itemValue":"10万元"},
                { "itemName":"工程保证金","itemValue":"20000元（正式营业后冲抵加盟管理费）"},
                { "itemName":"CRS","itemValue":"8%"},
                { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                { "itemName":"酒店总经理费","itemValue":"一类城市：16000元二类城市：15000元三类城市：13000元四、五类城市：10000元"},
                { "itemName":"工程配合费","itemValue":"20000元"},
                { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"}
            ]


        }
            
          
        ]
    },
    {
       
        "title":"hiinn",
        "logo":"/join/选中_海友酒店.png",
        "history":{
            "p1":"海友酒店是华住酒店集团旗下的经济型平价酒店品牌，从产品设计到附加服务，海友酒店去除多余、矫饰和不必要的负担，致力于为顾客提供位置优越、价格实惠、客房干净的平价酒店。因此，“实惠、干净”作为海友的品牌标语，成为了每一家海友对顾客所做的承诺。",
            "p2":"当繁复让我们越来越不堪重负时，极简主义正是解决这一切的钥匙，而这与海友提出的“轻旅行”概念不谋而合。通过“轻量级”的产品和更实惠的价格，为两亿多年轻人提供了“轻”旅行的最佳选择。截止2019年第一季度，海友酒店总数已超过380家，遍布全国一、二线城市与各大中心城市的核心位置，时刻满足顾客在悠闲假期或商务旅途中的各类基本需求。"	
        },
        "des":[{
            "p1":"“轻”便管理 高效运营",
            "p2":"精确的收益管理能力，高效的运营管理体系，智能化移动客房系统 ",
            "p3":"“轻”力支持 资源共享",
            "p4":"精准的创意营销推广 丰富的异业合作资源 强大的硬件采购支持 领先的 IT 服务支持"
        },
    {
        "p1":"平价酒店标杆品牌",
        "p2":"1亿+业内高活跃的会员 连续12年RevPar高速增长 品牌中央预订比例高达48% "
    }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "建筑面积：600㎡以上",
                    "具备基本的消防条件",
                    "房率≤15%",
                    "水电满足酒店运营要求"
                ]

            }
           
            
        ],
         "img":[ "/hotelImg/haiyou/1.jpeg",
			 	 "/hotelImg/haiyou/2.jpg",
			 	 "/hotelImg/haiyou/3.jpeg",
				 "/hotelImg/haiyou/4.jpg",
                  "/hotelImg/haiyou/5.jpeg"
				 
				 ],
        
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"保准加盟费","itemValue":"2000元/间"},
                    { "itemName":"保证金","itemValue":"5万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：13000元二类城市：12000元三类城市：10000"},
                    { "itemName":"工程配合费","itemValue":"20000元"},
                    { "itemName":"HPMS安装","itemValue":"初装费3000元，维护费400元／月"}
                ]

            }
           
          
        ]
    },
    {
        "title":"joya",
        "logo":"/join/选中_禧玥.png",
        "history":{
            "p1":"禧玥酒店作为华住酒店集团旗下全新高档普适酒店品牌。立足于中国一、二线城市核心区域，地理位置优越。新中式时尚的设计理念、多元化的服务特色，打造酒店生活的新方式。客房选用中国当代高尚生活品牌“上下”元素为您打造一段传承中国文化及复兴传统手工艺体验。",
            "p2":"走进禧玥，新中式设计风格让您恍若穿越时空，心中多了一份平静。禧玥四季养生粥、欢乐时光、舒适按摩舱等个性化服务为出门在外的您提供最惬意的享受。禧玥酒店，让您享受“满心喜悦”的入住体验。"	
        },
        "des":[{
            "p1":"禧玥发展力",
            "p2":"禧玥是华住旗下高档商务精选品牌，选址、硬件及服务均着眼于满足高端商务人群的旅差住宿需求，对比国内其它高端酒店品牌，华住以1亿会员拥有量给予禧玥强有力的发展空间，以北、上、广、深及省会一、二线城市商务核心地段为首要布局。"
            ,
            "p3":"精英团队",
            "p4":"禧玥在专业团队的领导下，以高端酒店管理的经验和经历，在高端酒店成熟管理体系的基础上不断创新，寻找新的突破口（含销售、产品、运营）。"
                },
            {
                "p1":"加盟优势",
                "p2":"禧玥由台湾知名设计公司朱周空间设计为设计主导，国内设计院配合深化，根据物业条件不同，给予订制化设计。禧玥低成本、高收益，盈利能力高于国际高端品牌酒店。酒店产品升级、客源升级、均价升级为禧玥带来更大的收益升级。同时该品牌秉承华住集团优秀的成本管控理念，完善的收益管理体系获得更高收益。"
            }
            ],
        "property_cond":[{
            "title":"",
            "property_cond_detail":[
                "一二线城市中的主要商旅目的地，长三角、 珠三角、环渤海经济圈，沿海重点城市，高 铁沿线省会城市核心区域",
                "具有良好的可视性及广告效果",
                "周边有完善的餐饮、商业配套",
                "建筑面积：5000-10000㎡",
                "物产业清晰 无暗房",
                "加盟形式：特管店",
               "是否接受翻牌酒店：是",
               "翻牌酒店单间改造费用：18-28 万元",
               "框架物业单间营建成本：35-40 万元"
            ]

        }
            
        ],
         "img":[ "/hotelImg/xiyue/1.jpg",
			 	 "/hotelImg/xiyue/2.jpg",
			 	 "/hotelImg/xiyue/3.jpg",
				 "/hotelImg/xiyue/4.jpg",
                  "/hotelImg/xiyue/5.jpg"
				 
				 ],
        "payData":[
            {  "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"5000元/间；不低于40万"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"总营业收入6.5%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：50000元二类城市：35000元三、四、五类城市：按实结算"},
                    { "itemName":"技术支持费","itemValue":"新项目：5000㎡以上按25万5000-10000㎡按35万10000㎡以上按50万改造项目：按照减半收费"},
                    { "itemName":"工程配合费","itemValue":"50000元"},
                    { "itemName":"HPMS安装","itemValue":"初装费5000，维护费800元/月华掌柜收费： 1）销售方式(含安装及支持服务)：价格2.5万元/台；2）租用方式（含支持服务）：一次性安装费用1万元，租金500-600元/台/月。"},
                    { "itemName":"IT 服务费","itemValue":"VPN 2500元/月"}
                ]

            }
           
        ]
    },
    {
        "title":"blossom",
         "logo":"/join/选中_花间堂.png",
        "history":{
            "p1":"一座花丛中长出来的房子",
            "p2":"2009年诞生于丽江，以独具特色的花间美学，将高端精品酒店的服务理念与地方民居、民俗等人文特色完美融合。目前花间堂品牌旗下有城市酒店、度假村与民宿三种不同规模的酒店产品，品牌期望以传递中国文化之美为核心理念，传承及保护所在地自然人文特色，将酒店作为分享与连接的平台，融入历史传统、人文景观、文化创意、休闲娱乐、旅游特色等资源，为大家打造一个欢乐而美好的现代人间桃花源。"	
        },
        "des":[{
            "p1":"文化传播",
            "p2":"花间堂凸显中华美学，致力传播当地文化，旗下各地花间堂酒店之间将形成良好的文化互动，促进当地文化产业的发展。"
       ,
       "p3":"产业输出",
       "p4":"花间堂致力于将旅游景区打造成为旅游目的地中心，产品设计强调丰富的旅游体验感，形成了除配套服务业以外的全产业链输出模式。"
        },
    {
      "p1":"品牌示范",
      "p2":"花间堂酒店的市场辨析度高，特色鲜明，具有一定的区域影响力，能够给当地带来旅游品牌升级的示范效应。",
      "p3":"价值体现",
      "p4":"花间堂品牌发展成熟，旗下酒店平均入住率达到80%，目前国内旅游度假类酒店入住率前三甲，有较高的市场接受度。"
    },
{
    "p1":"客源基础",
      "p2":"目前花间堂酒店住客以高层次、高收入商务人士为主，能为给当地导入众多高端客群，改善现有的客源结构，同时也能带动周边旅游地产物业的价值提升和物业去化。",
      "p3":"自有渠道",
      "p4":"华住会累计1亿多会员基础，每年为旗下品牌经营贡献上亿间夜；同时拥有全国数十万在用公司大客户、旅游会议集团，有效补充淡季经营。"
}],
        "property_cond":[{
            "title":"花间堂酒店",
            "property_cond_detail":[
                "一、二线城市核心区域",
                "成熟的商业、交通、娱乐配套，必备停车场",
                "商服用地、产权清晰，可新建亦可为现有建筑改造",
                "面积大小：5000 ~ 10000m2" 
            ]

        },
        {
            "title":"花间堂度假村",
            "property_cond_detail":[
                "一、二线城市周边及优质景区旁。 距离周边中心城市区域3小时车程内，距离主要交通枢纽（机场、高铁站）1小时车程以内，距离高速公路出口半小时车程内。",
                "拥有优质的自然资源及良好的市场经营环境，具有良好发展潜力的度假区域，山水田园、湖泊湿地、海滩及温泉等稀缺资源更佳。必备停车场，车位不可少于客房数*50%",
                "产权清晰、庭院式建筑、可新建亦可为现有乡村特色民居、古村落改造。土地要求为可建设用地（商业用地、旅游用地、或其他按国家或当地标准可办理齐全所有证照的物业）",
                "面积大小：5000 ~ 15000m2" ,
                "容积率 < 0 . 5"
            ]

        },
        {
            
            "title":"花间堂民宿",
            "property_cond_detail":[
                "一、二线城市核心区域或自然景色优美的乡村、景区",
                "拥有优质的自然资源及良好的市场经营环境，城市内民宿需拥有成熟的商业、交通、娱乐配套、必备停车场。",
                "商服用地、产权清晰、可新建亦可为现有建筑改造。",
                "面积大小：1500 ~ 3000m2" 
                
            ]
        }
            
        ],
        "img":[ "/hotelImg/hjtang/1.jpg",
			 	 "/hotelImg/hjtang/2.jpg",
			 	 "/hotelImg/hjtang/3.JPG",
				 "/hotelImg/hjtang/4.JPG",
                  "/hotelImg/hjtang/5.jpg"
				 
				 ],
        "payData":[
                {
                    "title":"花间堂酒店",
                    "payData_detail":[
                        { "itemName":"加盟期限","itemValue":"10年"},
                        { "itemName":"加盟费（一次性）","itemValue":"5000元/间；不低于30万"},
                        { "itemName":"保证金","itemValue":"10万"},
                        { "itemName":"CRS","itemValue":"CRS（非钟点房CRS）8%，APP15分钟免收，收费上限为总营收*3.5%！"},
                        { "itemName":"运营管理费","itemValue":"总营业收入*6.5%"},
                        { "itemName":"培训支持费","itemValue":"5万"},
                        { "itemName":"工程保证金","itemValue":"5万（正式营业后冲抵加盟管理费）"},
                        { "itemName":"工程配合费","itemValue":"5万"},
                        { "itemName":"技术支持费","itemValue":"新建30万、改造15万"},
                        { "itemName":"XPMS安装费","itemValue":"初装费1万元 授权费：65间房以下（不含65间）9600元/年、65间房以上19200元/年"}
                        
                    ] 

                },
                {
                    "title":"花间堂度假村",
                    "payData_detail":[
                        { "itemName":"加盟期限","itemValue":"10-20年"},
                        { "itemName":"加盟费（一次性）","itemValue":"1万元/间（不低于50万）"},
                        { "itemName":"保证金","itemValue":"10万"},
                        { "itemName":"CRS","itemValue":"CRS（非钟点房CRS）8%，APP15分钟免收，收费上限为总营收*3.5%！"},
                        { "itemName":"运营管理费","itemValue":"总营业收入*6.5%"},
                        
                        { "itemName":"技术支持费","itemValue":"1万元/间（不低于50万）"},
                        { "itemName":"XPMS安装费","itemValue":"初装费1万元 授权费：65间房以下（不含65间）9600元/年、65间房以上19200元/年"}
                    ] 
                },
                {   
                    "title":"花间堂民宿",
                    "payData_detail":[
                        { "itemName":"加盟期限","itemValue":"按加盟实际租赁合同为加盟年限"},
                        { "itemName":"加盟费（一次性）","itemValue":"20万（超过40间房按5000元/间计算）"},
                        { "itemName":"保证金","itemValue":"10万"},
                        { "itemName":"CRS","itemValue":"CRS（非钟点房CRS）8%，APP15分钟免收，收费上限为总营收*3.5%！"},
                        { "itemName":"运营管理费","itemValue":"总营业收入*5%"},
                        
                        { "itemName":"工程保证金","itemValue":"2万（正式营业后冲抵加盟管理费）"},
                        { "itemName":"工程配合费","itemValue":"5万"},
                       
                        { "itemName":"XPMS安装费","itemValue":"初装费1万元 授权费：65间房以下（不含65间）9600元/年、65间房以上19200元/年"}
                        
                    ] }
                    ] 
               
       
       
    },
    {
        "title":"mercure",
         "logo":"/join/选中_美居.png",
        "history":{
            "p1":"美居品牌始创于1967年，是法国雅高酒店集团旗下的个性化中端酒店，注重本地特色，坚持统一质量标准，并由热情洋溢的酒店管理者经营。",
            "p2":"目前在全球56个国家运营800+家酒店，客房数量超过9万间，酒店网络分布为欧洲第二大品牌，为市场提供了标准化或独立酒店之外的另一种选择。 美居结合了国际酒店网络的力量和全球专业工作人员，APP和网站等多元化的高产数字直销分销平台来到中国，倡导“激发多彩人生，体验法式生活”的产品特色。美居品牌项目投资适中，回报稳定。"	
        },
        "des":[{
            "p1":"美居迎来最佳时代",
            "p2":"美居是来自法国具有40年以上品牌历史的国际中档品牌，优雅时尚的品牌定位，充满法兰西浪漫色彩的产品设计，全球800家酒店的品牌网络。在国内中档酒店发展进入快速通道的时期，美居在国内的发展将迎来一个最佳时代。品牌发展以一、二线城市布局为优先，逐步扩大到三，四线内陆城市。"
           ,"p3":"多样化设计风格与成本管控",
           "p4":"美居既保留来自雅高的品质、优雅与格调，同时注入华住优秀的成本控制管理理念。运用现代智能化产品压缩人力成本，人房比仅需0.2，不仅保证了客房较高均价而且大幅降低了运营成本。几种风格的样板房供客人体验，计算各风格的营建成本及时间，为加盟商提供更好的产品。"
        },
    {
        "p1":"精英运营团队",
        "p2":"美居拥有来自雅高与华住优秀的技术与产品服务团队，确保每一家新建美居酒店的设计环节、工程建设与装修阶段享受最专业的指导与支持。确保美居酒店网络在国内不断扩大的过程中仍维持精细化管控,使每一家美居酒店的运营管理品质都保持上乘。"
       ,"p3":"在中国的发展潜力",
       "p4":"美居在中国的发展潜力，首先得益于悠久的品牌历史及世界性的布局基础，以外养内在中国迅速扩大品牌知名度。其次是双体系的优势突显，会员积分通兑、双渠道的会员支持。产品、服务与国际接轨，同时也在不断更新。每一次产品更新与测试，管理公司都会在美居品牌的直营门店试行以充分测试酒店新产品能为加盟商带来的收益。"
    }
],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "配有全日制餐厅，开放式商务中心，健身会所， 儿童俱乐部(度假必备)等",
                    "后勤面积不低于总建筑面积的5%",
                    "每80间客房至少一部客梯，必须具备服务梯",
                    "走廊 净宽度不小于1.8米  净高度不低于2.4",
                    "房间数：不低于 125 间",
                    "城市单间建筑面积：不低于 22㎡",
                    "度假城市建筑面积：不低于 25㎡",
                    "接待大厅面积：150㎡ 以上"
                ]

            }
           
        ],
         "img":[ "/hotelImg/meiju/1.jpg",
			 	 "/hotelImg/meiju/2.jpg",
			 	 "/hotelImg/meiju/3.jpg",
				 "/hotelImg/meiju/4.jpg",
                  "/hotelImg/meiju/5.jpg"
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"50万（品牌使用费）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"HUAZHU.CRS：8%TARS：8%海外OTA：实际房价*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"总营业收入6.5%"},
                    { "itemName":"酒店总经理费","itemValue":"按实结算"},
                    { "itemName":"审计和调查费用 (第三方公司收取)","itemValue":"17500元/年"},
                    { "itemName":"技术支持费","itemValue":"新建项目50万元，改建项目、租赁项目20-50万元"},
                    { "itemName":"HPMS安装","itemValue":"初装费50000元；维护费：2.4万/年"},
                    { "itemName":"IT服务费","itemValue":"VPN :  3500/月  VSSL:  20000/每年"}
                ]

            }
           
        ]
    },
    {
        "title":"manxin",
        "logo":"/join/选中_漫心.png",
        "history":{
            "p1":"如果说季琦所打造的全季是一个简单禅意的男人，那漫心就像是一个时尚浪漫的女人。它更像是一个迷之地，总有不经意的惊喜，总有寂寞时的陪伴，总有生活中的圆满。活色生香，不一样的漫心。",
            "p2":"在大堂的空间中，你可以感受到漫心的多样风貌，是餐厅、Cafe、Salon、Bar、也是Working Space。一杯咖啡可以伴你度过一个寂静的午后、一场电影与音乐会也可以让你的夜生活丰富多彩，在漫心大堂我们希望用丰富的多功能来满足你的个性品味。你可以三五好友在此分享生活体验，也可以肚子优雅地在角落做一个安静的文艺青年，漫心是开放的、也是独立的！同时漫心也是智慧的，自组Check in、智能控制等，这些都与混搭的设计巧思想相合拍，1+1也许有时候不只等于2。 "	
        },
        "des":[{
            "p1":"精英团队",
            "p2":"从漫心的总经理到负责运营、销售、开发、市场等的管理人员是一群有着丰富管理经验、资深行业背景、杰出业绩及海外经历的年轻精英，结合了高星酒店的运营经验和对互联网应用的深刻认知。让最优秀的人来打磨最出色的产品，提供最优质的服务，赢得市场和客户的口碑。"
        ,
        "p3":"漫心之力",
        "p4":"漫心酒店作为中档酒店的新领头，迎合中产消费升级，把握流行趋势，一线、二线城市核心位置占主流，3年布局200家。盈利空间较经济型提升30%，RevPAR在350-1000之间， 单间造价14-15万元，单店设计费30-45万元，人房配比0.21，GOP率65-70%，年回报率不低于20%。"
        },
    {
       "p1":"加盟支持",
       "p2":"漫心从项目地段，物业情况，投资各方面情况进行评估，充分为加盟业主负责，创造双赢局面。营建阶段为加盟店的装修工程提供施工标准及工程项目经理指导服务，包括前期现场勘查、设计审查、交底会、开工后每周一次的现场指导及竣工验收及相关采购支持。高质量的招聘酒店相关人才，开业前60天酒店运营团队进驻，统一管理。漫心学院定期举行员工培训，打造精英团队，保证各加盟店的管理标准与服务质量。B2B平台采购，解决部分加盟商现金流问题，保证品质，多种选择，价格公开透明，专业安装指导，避免返工，缩短工期。"
    }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "物业要求: 客源充足地段：大型商业中心等，良好广告效果地段，交通便地段，周边配套完善地段：餐饮娱乐配套等，周边进出通畅并有一定的停车位，物业产权清晰。",
                    "要求:一线，二线  三线及以下",
                    "项目面积:大于等于3000㎡",
                    "大堂净面积:150m2 200m2",
                    "餐厅净面积:总住宿人户的35-60%的座位数，每个座位平均2.5m2 来核算餐厅面积，具体看项目位置等级与其他条件",
                    "客房净面积:23㎡",
                    "电梯:必备独用 75间客房需要1部电梯，以此类推，超过150间客房单独需要一部后勤梯"
                    
                ]
            }
           
        ],
         "img":[ "/hotelImg/manxin/1.jpg",
			 	 "/hotelImg/manxin/2.jpg",
			 	 "/hotelImg/manxin/3.jpg",
				
                  "/hotelImg/manxin/5.jpg",
                  "/hotelImg/manxin/6.jpg"
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"50万（品牌使用费）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"HUAZHU.CRS：8%TARS：8%海外OTA：实际房价*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"总营业收入6.5%"},
                    { "itemName":"酒店总经理费","itemValue":"按实结算"},
                    { "itemName":"审计和调查费用 (第三方公司收取)","itemValue":"17500元/年"},
                    { "itemName":"技术支持费","itemValue":"新建项目50万元，改建项目、租赁项目20-50万元"},
                    { "itemName":"HPMS安装","itemValue":"初装费50000元；维护费：2.4万/年"},
                    { "itemName":"IT服务费","itemValue":"VPN :  3500/月  VSSL:  20000/每年"}
                ]
            }
           
        ]
    },
    {
        "title":"novotel",
        "logo":"/join/选中_诺富特.png",
        "history":{
            "p1":"诺富特是雅高酒店集团创始品牌，成立于1967年，国际四星级酒店品牌。500多家酒店及度假酒店遍布61个国家，占据重要的地理位置，为了促进顾客对品牌的偏好，推动酒店的业绩发展，品牌重新打造了一个以家庭和商务旅行者为目标的人群，可靠，高效的品牌形象。",
            "p2":"诺富特全套房酒店成立于2010年，专注于服务中长期住宿需求，所有套房均是30平方米左右。诺富特是旨在打造现代轻松生活方式的全方位服务酒店品牌。诺富特为顾客提供了充满活力放松的社交空间，特色的床品体验，现代的会议室，多样化的健身选择，代表了家庭旅行的国际化水准。"	
        
            },
        "des":[{
            "p1":"核心发展力",
            "p2":"诺富特品牌致力于酒店的不断创新，无论是创新酒店产品本身，还是酒店日常的运营模式，或是销售战略管理，诺富特酒店一直在寻求新的突破口。诺富特作为一个拥有全服务设施且档次偏高的中档酒店品牌，不仅吸引着来自国内的商务客人、休闲散客等客源，同时以较高的价格吸引来自海外的国际客人。高利润的会议设施设备可以帮助酒店创造可观的收益。在人员编制方面，人房配比较于其他国际同档次品牌更低。因此，诺富特酒店不仅有极具吸引力的成本比率，还拥有高效的服务理念，从而可创造出更高的收益及利润。诺富特品牌在开业后的2-3个月内即可创造收益，总营业利润每年以5%-6%向上增长。"
            ,"p3":"专业管理经验",
            "p4":"诺富特酒店总经理拥有丰富的管理经验，特别是全服务式酒店营运管理。同时，他们夯实的销售战略能力可适应于每一家酒店。为更好的支持总经理以及他的行政委员会团队，总部各个职能会为酒店运营团队提供非常密切的支持及许多各种不同的工具、系统与培训，从而保证酒店的收益管理及盈利不断最大化。"
            }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "配有全日制餐厅，开放式商务中心，健身会所， 儿童俱乐部等",
                    "后勤面积不低于总建筑面积的5%",
                    "每80间客房至少一部客梯，必须具备服务梯",
                    "房间数：不低于 150 间",
                    "城市单间建筑面积：不低于 28㎡",
                    "度假城市建筑面积：不低于 31㎡",
                    "接待大厅面积：300㎡ 以上"
                ]
            }
           
        
        ],
         "img":[ "/hotelImg/nuofute/1.jpg",
			 	 "/hotelImg/nuofute/2.jpg",
			 	 "/hotelImg/nuofute/3.jpg",
				 "/hotelImg/nuofute/4.jpg",
                  "/hotelImg/nuofute/5.jpg"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"60万（品牌使用费）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"HUAZHU.CRS：8%TARS：8%海外OTA：实际房价*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"总营业收入6.5%"},
                    { "itemName":"酒店总经理费","itemValue":"按实结算"},
                    { "itemName":"审计和调查费用 (第三方公司收取)","itemValue":"17500元/年"},
                    { "itemName":"技术支持费","itemValue":"新建项目80万元，改建项目、租赁项目30-80万元"},
                    { "itemName":"HPMS安装","itemValue":"初装费: HPMS PLUS的定价为10万/店；年度维护费: HPMS PLUS 系统年度维护费为300元/年/间客房；"},
                    { "itemName":"IT 服务费","itemValue":"VPN :  3500/月 VSSL:  20000每年"}
                ]
            }
            
        ] 
    },
    {
        "title":"crystal",
        "logo":"/join/选中_桔子水晶.png",
        "history":{
            "p1":"桔子 因纯粹，而美妙国内规模最大的国际化酒店设计师团队 连续三届获得“中国最佳设计师酒店”与“中国最佳精品酒店”大奖 新一批主流消费群体热捧的酒店品牌以精品设计师酒店路线领跑国内中高端市场",
            "p2":"桔子在华住 桔子水晶酒店、桔子酒店·精选的出现填补了中高端市场的空缺。在华住成长的桔子优势将无限放大，品牌影响力将在华住全方位、体系化的市场推广下迅速提升，将有越来越多消费者、投资人爱上这块已经雕琢成型的美玉。 秉承对投资人负责的态度，华住将进一步提升桔子团队的专业能力，打造一支优秀的运营团队。桔子所有收费信息透明化，在合作谈判阶段全部与投资人做沟通，不存在隐性收费。"	
        },
        "des":[{
            
            "p2":"当纯粹剔透的水晶，邂逅温暖明媚的阳光，便有了五彩斑斓的绚烂。桔子水晶酒店作为高端设计酒店品牌，坚持用设计让出行变得更美好。用纯粹的视角来呈现设计，用专注的心来服务住客。来到桔子水晶的您就是那道温暖的阳光，桔子水晶希望和您一起，因纯粹而美妙。",
            "p3":"不一样的科技",
            "p4":"全球首家开门自动播放音响的酒店；全球首家支持点播开门播放音乐的酒店，房间里都是您喜欢的音乐；巴黎、伦敦、纽约等模式的智能场景灯光智能触目屏控；窗帘可自动开启、关闭；水温自动保持一定合理水平，既能保证让客户感受舒适，同时也能节能环保。"
        },
    {
        "p1":"不一样的安静",
        "p2":"隔音高达60分贝。清华大学声学所为桔子水晶酒店特别定制的隔音方案。",
        "p3":"不一样的品质",
        "p4":"选择科勒等国际品牌洁具、国际品牌电视、高档被品，均是已被五星级酒店验证的品质产品。"

    }],
        "property_cond":[
            {
                
                "title":"",
                "property_cond_detail":[
                    "要求:一线，二线 三线及以下",
                    "项目面积:大于等于3000㎡",
                    "大堂净面积:250m2 300m2",
                    "餐厅净面积:总住宿人户的35-60%的座位数，每个座位平均2.5m2 来核算餐厅面积，具体看项目位置等级与其他条件",
                    "客房净面积:大床房净面积25㎡，双床房净面积不少于26m2 （含休息区）",
                    "电梯:必备独用 75间客房需要1部电梯，以此类推，超过150间客房单独需要一部后勤梯"
                    
                ]
            }

            
        ],
         "img":[ "/hotelImg/juzishuijing/1.jpg",
			 	 "/hotelImg/juzishuijing/2.jpg",
			 	 "/hotelImg/juzishuijing/3.jpg",
				 "/hotelImg/juzishuijing/4.jpg",
                  "/hotelImg/juzishuijing/5.jpg"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"4000元/间，不低于30万"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%，APP前15分钟免费，收费上线为总营收*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：20000元/月二类城市：19000元/月三类城市：18000元/月"},
                    { "itemName":"工程配合费","itemValue":"60000元"},
                    { "itemName":"工程保证金","itemValue":"20000元(正式营业后冲抵加盟管理费)"},
                    { "itemName":"HPMS安装费/HPMS-Plus安装费","itemValue":"初装费5000元，维护费800元／月华掌柜收费1)销售方式（含安装及支持服务），价格25000元/台；2）租用方式（含支持服务），一次性安装费用10000元租金500-600元/台/月"}    
                ]
            }
           
        ] 
    },
    {
        "title":"orange",
        "logo":"/join/选中_桔子精选.png",
        "history":{
            "p1":"桔子精选 自由开放 阳光每天 桔子精选用自由开放的态度，传递健康阳光的生活方式。在这里有桔子般的健康新鲜，也有加州般的阳光自由。",
            "p2":"桔子在华住 在华住成长的桔子优势将无限放大，品牌影响力将在华住全方位、体系化的市场推广下迅速提升，将有越来越多消费者、投资人爱上这块已经雕琢成型的美玉。 秉承对投资人负责的态度，华住将进一步提升桔子团队的专业能力，打造一支优秀的运营团队。桔子所有收费信息透明化，在合作谈判阶段全部与投资人做沟通，不存在隐性收费。"	
        },
        "des":[{
            
            "p2":"以自由、生动的空间超越不断变化的时尚。",
            "p3":"不一样的科技",
            "p4":"房间里都是您喜欢的音乐；巴黎、伦敦、纽约等模式的智能场景灯光智能触目屏控；窗帘可自动开启、关闭；水温自动保持一定合理水平，既能保证让客户感受舒适，同时也能节能环保。"
        },
    {
        "p1":"不一样的安静",
        "p2":"隔音高达60分贝。清华大学声学所为桔子水晶酒店特别定制的隔音方案。",
        "p3":"不一样的品质",
        "p4":"选择科勒等国际品牌洁具、国际品牌电视、高档被品，均是已被五星级酒店验证的品质产品。"
    }],
        "property_cond":[
           {
            "title":"",
            "property_cond_detail":[
                "要求:一线，二线 三线及以下",
                "项目面积:大于等于3000㎡",
                "大堂净面积:150m2 200m2",
                "餐厅净面积:总住宿人户的35-60%的座位数，每个座位平均2.5m2 来核算餐厅面积，具体看项目位置等级与其他条件",
                "客房净面积:大床房净面积22.5㎡，双床房净面积不少于23.5m2 （含休息区）",
                "电梯:必备独用 75间客房需要1部电梯，以此类推，超过150间客房单独需要一部后勤梯"
            ]
           }
        
        ],
          "img":[ "/hotelImg/juzijingxuan/1.png",
			 	 "/hotelImg/juzijingxuan/2.jpg",
			 	 "/hotelImg/juzijingxuan/3.jpg",
				 "/hotelImg/juzijingxuan/4.jpg",
                  "/hotelImg/juzijingxuan/5.jpg"
                 
				 
				 ],
        "payData":[
            {"title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"4000元/间，不低于30万"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%，APP前15分钟免费，收费上线为总营收*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：20000元/月二类城市：19000元/月三类城市：18000元/月"},
                    { "itemName":"工程配合费","itemValue":"60000元"},
                    { "itemName":"工程保证金","itemValue":"20000元(正式营业后冲抵加盟管理费)"},
                    { "itemName":"HPMS安装费/HPMS-Plus安装费","itemValue":"初装费5000元，维护费800元／月华掌柜收费 1）销售方式（含安装及支持服务），价格25000元/台；2）租用方式（含支持服务），一次性安装费用10000元租金500-600元/台/月"},
                    { "itemName":"VPN盟广费用","itemValue":"2500元/月"}
                ]

            }
            
        ] 
    },
    {
        "title":"ji",
         "logo":"/join/选中_全季.png",
        "history":{
            "p1":"全季酒店，成立于2010年，隶属华住集团，是中国领先的中档酒店品牌。目前已进驻中国110多个城市，开业已超过600家。",
            "p2":"全季酒店是为东方人所打造的酒店，以『温、良、恭、谦、让』的五德精神作为设计理念，倡导『自然·适度·自在』的东方美学生活方式的人文酒店，"	
        },
        "des":[{
            "p1":"全季之力",
            "p2":"最具盈利能力的中档酒店品牌 成熟店综合RevPAR 306元 2018年直营店整体GOP率75% 人房系数0.18 RevPAR平均提升（翻牌店改造三个月后）110元"
        ,
        "p3":"全季4.0版全新升级",
        "p4":"客听，大堂的空间变革，现代都市的第三空间、旅途上的精神物质便利店； 以人为本、圆润包容的空间设计， 入微之处见匠心，细节之处见大爱；全方位系统化升级的隔音设计， 让住客享受舒适的静谧空间； 集科技与优雅于一体，让服务更智能。 新增健身区和洗衣区，让旅途中每时每刻呈现最佳状态。"

            }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "要求:一线，二线 三线及以下",
                    "项目面积:不小于3500m2",
                    "大堂净面积:不小于150m2 不小于200m2",
                    "餐厅净面积:不小于客房数/m2  如：100间客房，餐厅面积不小于100m2",
                    "客房净面积:不小于20m2 /间 不小于23m2",
                    "电梯:至少2部，直达大堂，餐厅，客房 每75间客房一台电梯"
                ]
               }
        
        ],
         "img":[ "/hotelImg/quanji/1.jpg",
			 	 "/hotelImg/quanji/2.jpg",
			 	 "/hotelImg/quanji/3.jpg",
				 "/hotelImg/quanji/6.jpg",
                  "/hotelImg/quanji/5.jpg"
                 
				 
				 ],
        
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限，超过8年的，每8年需做产品审核，加盟商租赁合同到期无法续约特许经营自动终止"},
                    { "itemName":"加盟费（一次性）","itemValue":"北上广深：4000元/间 杭州、南京、成都、厦门、苏州：3500元/间其他：3000元/间(不低于20万元，不高于60万元)"},
                    { "itemName":"保证金（一次性）","itemValue":"10万元"},
                    { "itemName":"工程保证金","itemValue":"2万元(正式营业后冲抵加盟管理费)"},
                    { "itemName":"工程设计配合费","itemValue":"5万元"},
                    { "itemName":"中央系统预定费（CRS）","itemValue":"8%，APP5分钟免收，收费上限为总营收*3.5%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：20000元/月 二类城市：19000元/月 三类城市：18000元/月 四类、五类城市：15000元/月"},
                    { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"},
                    { "itemName":"酒店IT服务费（第三方公司收取）","itemValue":"免初装费，2500元/月"}
                ]
            }
            
        ] 

    },
    {
        "title":"citigo",
        "logo":"/join/选中_CitiGO.png",
        "history":{
            "p1":"华住集团旗下中高档酒店品牌，由国际知名设计师执笔，集“社区共享式大堂、轻生活方式、智能化客控”为一体，为旅行者带来高品质的入住体验。CitiGO年轻随性、积极向上的生活方式理念，吸引了大批同调性的人群聚集。在每个城市，CitiGO已经走出传统酒店的框架，成为当地的潮流中心。",
            "p2":"在CitiGO，一切都是便捷的、富于现代思维的，可以用手机Check-in、开房门，甚至用微信智能控制房内空调、灯光、窗帘、电视等设备。餐厅、酒吧、休闲庭院、屋顶花园、露天电影、健身房等丰富的场景设置，为客人营造出浓厚的社交氛围，帮助他们找到更多兴趣相投的朋友。"	
        },
        "des":[{
            "p1":"CitiGO核心发展力",
            "p2":"CitiGO是华住集团旗下轻奢•社交品牌，立足于一二线城市中心，由国际知名设计师赵牧桓执笔，从“社交”到“智能”，致力于通过独特的设计格调和场景，为当地居民和旅行者带来新时代的酒店体验，并引领年轻族群的生活方式，走在时代潮流前端并且不断创新，拥有巨大发展潜力。"
        ,"p3":"多渠道营收",
        "p4":"运用智能化系统压缩人力成本，酒店不止有住宿收益，还有餐饮、公区场地租赁、共享办公、自有伴手礼售卖等多种收益来源。"
            },
        {
            "p1":"运营成本管控",
            "p2":"CitiGO注重运营成本控制，品牌在高速发展增强市场竞争力的同时会将设计、智能产品迭代等必要项目的费用控制在合理范围内。 在门店分布越来越广泛的过程中，完成整套流程化机制和系统管控，注重精细化管理，弱化店长个人对酒店产生的影响。"
        }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "物业条件:一、二线城市(二线城市主要指：南京、杭州、 厦门、成都、天津、武汉等) ；靠近大型商业中心、商务中心、展览中心、 交通中心、交易中心，有充足的客源支持；具有良好的可视性及广告效果，周边有完善的餐饮、商业配套，建筑面积：3000-10000㎡(最小房量为100 间)，物业产权清晰，无暗房。",
                    "加盟形式:特管店",
                    "是否接受翻牌酒店:否",
                    "框架物业单间营建成本:14-15万元",
                    "RevPAR:350-550元"
                   
                ]
               }
        
        ],
        "img":[ "/hotelImg/CitiGO/1.jpg",
			 	 "/hotelImg/CitiGO/2.jpg",
			 	 "/hotelImg/CitiGO/3.jpg",
				 "/hotelImg/CitiGO/4.jpg",
                  "/hotelImg/CitiGO/5.jpg"
                 
				 
				 ],
        
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"8-10年（每6年需做产品审核）"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"4000元/间"},
                    { "itemName":"保证金","itemValue":"10万元，合同期满无扣除金额情况下抵充特许加盟管理费"},
                    { "itemName":"工程保证金","itemValue":"2万元，(正式营业后无扣除金额情况下抵充特许加盟管理费)"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3%+特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费用","itemValue":"全职店长（负责酒店客房、餐饮、销售等工作）： 一类城市：25000元/月，二类城市：22000元/月"},
                    { "itemName":"工程设计配合费","itemValue":"5万元"},
                    { "itemName":"PMS系统费（二选一）","itemValue":"HPMS一次性安装费5000元，维护费800元／月XPMS一次性安装费20000元，维护费2000元/月，数据使用费6000元/年"},
                    { "itemName":"酒店IT服务费（第三方公司收取）","itemValue":"免初装费，2300元/月"},
                    { "itemName":"财务结算支持费用","itemValue":"1000元/月"},
                    { "itemName":"中央预订费用（CRS）","itemValue":"实际房价*8%，其他预订渠道的按实收取"}
                ]
            }
           
           
        ] 

    },
    {
        "title":"startway",
        "logo":"/join/选中_星程.png",
        "history":{
            "p1":"星程是一家多元化的中档酒店领先品牌。 不改硬装、加盟门店迅速进入华住销售大平台。全国3000+知名企业客户， 覆盖130+城市，300+酒店。拥有优质精准品牌传播平台，增加酒店知名度。",
            "p2":"2017年，星程力邀国际知名设计团队BETC（曾为雅高、法航服务）对星程品牌重新定位升级。在近2年的发展过程中，针对国内的酒店市场，制定出一套专门针对单体酒店升级的“易加盟”模式：不改硬装，软装上由专业设计团队设计，带来味觉、视觉、听觉、嗅觉、触觉六大维度的改革升级，完成酒店档次、格调、情怀等的整体升级。在快速变革升级中，以投入少、高回报的独特优势帮助单体酒店实现低成本、高质量转型。"	
        },
        "des":[{
            "p1":"产品优势",
            "p2":"地方特色早餐 星程酒店立志温暖从一天的早餐做起。特邀当地网红小吃或老字号师傅制作当地特色面食，让每一位客人在酒店就能品尝到本地特色，体会星程那碗面的温暖"
       ,"p3":"*软优势",
       "p4":"法国 BETC 设计公司量身打造的 vi 视觉体系、星程品牌专属钢琴背景音乐、定制大堂香氛、澳洲植物精华 SOAK 洗浴套装、采用完全符合人体工学设计的美国金可儿床垫，舒缓一整天压力。从味觉、视觉、听觉、嗅觉、触觉上让客人感知星程的魅力专业团队"
        },
    {"p1":"技术优势",
        "p2":"拥有国内领先的盟广酒店管理系统；自主研发的“易客房”“易发票”等“易系列”为酒店管理者和加盟商提供全方位的技术支持；全球唯一AI智能收益管理系统帮您自动管理酒店价格。",
        "p3":"客源优势",
        "p4":"拥有超过 1.3 亿有效会员及3000+优质企业大客户，华住会员对酒店客源贡献量平均超过 70% 以上。"

    },
{
    "p1":"管理优势",
    "p2":"14 年连锁酒店管理经验为您保驾护航，标准化管理体系、全面品质管控系统、超强的安全保障体系、低成本高品质的运作体系。",
    "p3":"人才优势",
    "p4":"华住大学 10 余年专业培训体系，将理念与实际相结合，为员工及加盟商提供公平公正的学习机会，向门店持续培养和输送各级管理人才。"
}],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "项目:星程酒店",
                    "建筑面积:不低于3000㎡",
                    "大堂面积:独立大堂 一线城市≥80㎡其它城市≥120㎡",
                    "客房面积:一线城市≥20㎡其它城市≥23㎡",
                    "房间数:不少于75间",
                    "早餐厅:需配早餐厅，标配明档",
                    "物业条件:二、三线城市核心位置、物业产权或租赁手续明晰，有意向翻新的单体酒店",
                    "加盟形式:特管店",
                    "是否接受翻牌酒店:是",
                    "翻牌酒店单间改造费用:小于 2.5 万元",
                    "框架物业单间营建成本:9.2 万元"
                   
                ]
               }
        
        
        ],
         "img":[ "/hotelImg/xingcheng/1.jpeg",
			 	 "/hotelImg/xingcheng/2.jpg",
			 	 "/hotelImg/xingcheng/3.jpg",
				 "/hotelImg/xingcheng/4.jpeg",
                  "/hotelImg/xingcheng/5.jpeg"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"2500元/间（不低于15万）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：20000元/月 二类城市：19000元/月 三、四、五类城市：15000元/月"},
                    { "itemName":"工程配合费","itemValue":"20000元"},
                    { "itemName":"工程保证金","itemValue":"20000元(正式营业后冲抵加盟管理费)"},
                    
                    { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"}
                ]
            }
            
           
        ] 


    },
    {
        "title":"ibisStyles",
        "logo":"/join/选中_宜必思尚品.png",
        "history":{
            "p1":"全季的国际版＋风格版 宜必思尚品在华住酒店集团与雅高的精心打磨下，秉承个性独特、着重设计的理念，提供舒适和优质的服务。",
            "p2":"带着法国时尚浪漫气质的宜必思尚品满足您旅途中舒适及享受的需求，成为商务人士、小资阶层、家庭出行的不二之选"	
        },
        "des":[{
            "p1":"双引擎发展",
            "p2":"宜必思尚品定位设计型中档酒店。自品牌创立之初，以飞快的发展速度迅速占领欧洲酒店市场，成为欧洲最赚钱的酒店品牌之一。“雅高＋华住”双引擎客源接入，拥有差异化产品和客源，迎合市场升级、消费升级。公区遵循一店一设计概念，客房标准化产品，既能发挥出每家宜必思尚品的设计感，又能秉承品牌风格，保留品牌DNA，增加客源粘连度。产品最大程度地降低设计、施工投资成本。未来会在国内中档酒店中占领有利地位。"
        ,"p3":"专业团队",
        "p4":"注重店长及关键岗位人员的培养，未来将以直营店的管理模式发展运用到所有门店，形成统一标准，为将来的发展做好充分准备。"
            }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "物业位置处于城市中心城区、靠近 CBD 商务 区、交通枢纽、会展／展览中心、高校、工业开发区等",
                    "良好的可接近性及可视性，便利的交通及方便的出入口",
                    "周边配套商圈，接近目标商务顾客及写字楼",
                    "平均客房数：100-200 间",
                    "客房面积：22-26㎡",
                    "独栋或相对独立楼层物业，可进行改造",
                 "物业结构良好",
                 "有独立大堂、餐厅及一定数量的停车位",
                 "物业产权关系明晰"
                ]
            }
          
       
        
        ],
        "img":[ "/hotelImg/yibisishangpin/1.jpg",
			 	 "/hotelImg/yibisishangpin/2.jpg",
			 	 "/hotelImg/yibisishangpin/3.jpg",
				 "/hotelImg/yibisishangpin/4.jpg",
                  "/hotelImg/yibisishangpin/5.jpg"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"标准加盟费（一次性）","itemValue":"北上广深：3500元/间； 其他3000元/间；（不低于20w，不高于60w）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：20000元/月 二类城市：19000元/月 三类城市：18000元/月 四、五类城市：15000元/月"},
                    { "itemName":"审计和调查费用 (第三方公司收取)","itemValue":"卫生审计/产品质量审计/客服满意度在线调查三项合计17500元"},
                    { "itemName":"工程配合费","itemValue":"50000元"},
                    
                    
                    { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"}
                ]
            }
           
           
        ] 


    },
    {
        "title":"ibis",
         "logo":"/join/选中_宜必思.png",
        "history":{
            "p1":"宜必思是雅高酒店集团旗下全球性酒店品牌，已有40多年历史，是欧洲排名第一的连锁酒店。2016年，华住酒店集团和雅高酒店集团缔结联盟后，宜必思在华住酒店集团的发展运营下，在中国不断创新并展现出舒适、时尚和高性价比的品牌价值，打破经济型与中档酒店界限，满足顾客消费升级的大势所趋。",
            "p2":"在两大酒店集团的协作下，宜必思以其品质、可信度及全新时尚的住宿体验受到中国客户的认可。"	
        },
        "des":[{
            "p1":"宜必思之力",
            "p2":"宜必思是拥有法国雅高酒店集团背景的超过40年悠久历史的全球领先国际酒店洋品牌，能在创立近半世纪之久的发展中不断革新。进入中国市场后，打破经济型和中档酒店界限，在产品设计、客源定位、市场定位等方面都相对于其他同类酒店品牌具有显著差异性，极具发展潜力。从目前全国已经开业的新版本Ibis酒店来看，普遍受到市场欢迎，业绩表现普遍超出预期。将来会以一二线城市为主，逐步扩大到三四线内陆城市。"
        ,"p3":"专业团队",
        "p4":"随着未来酒店扩大发展的迅猛速度，店长及关键岗位人员的培养将成为关注的重点。将逐步形成人才梯队培养模型，以点带面，完成系统管控。"
            }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "位置处于城市中心城区、靠近 CBD 商务区、 交通枢纽、会展／展览中心、高校、工业开发区等",
                    "有良好的可接近性及可视性",
                    "便利的交通及方便的入口",
                    "接近目标商务顾客及写字楼",
                    
                    "平均客房数：80-150 间",
                    "客房面积：22-26㎡",
                 "客房面积：18-24㎡",
                 "拥有独立大堂、餐厅及一定数量的停车位",
                 "结构良好、独栋或相对独立楼层物业、可进行改造",
                 "物业产权关系明晰"
                ]
            }
          
       
        
        ],
         "img":[ "/hotelImg/yibisi/1.jpg",
			 	 "/hotelImg/yibisi/2.jpg",
			 	 "/hotelImg/yibisi/3.jpg",
				 "/hotelImg/yibisi/4.jpg",
                  "/hotelImg/yibisi/5.jpg"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"保准加盟费","itemValue":"2500元/间（不低于15万）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"160间房以下： 一类城市：16000元/月 二类城市：15000元/月 三类城市：13000元/月 四类、五类城市：10000元/月 160间房以上： 一类城市：18000元/月 二类城市：17000元/月 三类城市：15000元/月 四类、五类城市：12000元/月"},
                    { "itemName":"审计和调查费用 (第三方公司收取)","itemValue":"卫生审计/产品质量审计/客服满意度在线调查 三项合计17500元"},
                    { "itemName":"工程配合费","itemValue":"30000元"},
                    
                    
                    { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"}
                ]
            }
          
           
        ] 
    },
    {
        "title":"keting",
         "logo":"/join/选中_客听.png",
        "history":{
            "p1":"「客听」，一个全新的诞生在酒店通路的综合空间和零售品牌，为快节奏的都市行旅人提供轻食简餐、生活好物和精选书籍，传递东方、解忧、实用、精选的价值观和生活方式。「客听」取“客厅”之谐音，作为一次酒店“大堂革命”，「客听」的线下空间起步于华住集团旗下全季酒店，率先在酒店大堂打造新零售连锁经营综合业态，为酒店大堂赋能，提高坪效，为华住客人提供更人性化的亲切体验。",
            "p2":"「客听」首家旗舰店于2019年1月在全季酒店上海虹桥中心店正式亮相，「客听」线上商城也已入驻华住商城。目前，「客听」已在上海、杭州、深圳等地开设多家门店，今年还将在上海、北京、南京、杭州、深圳、广州、贵阳等全国一二线城市核心商圈开设线下门店。未来还将寻求与华住集团旗下其他酒店品牌，及与华住集团外品牌、物业合作。"	
        },
        "des":[{
            
            "p2":"「客听」是一家开在都市人旅途上的精神物质便利店，精选数百款精选书籍、生活好物、轻食简餐，方便都市行旅人随时获取精神和物质能量，解决出行中遇到的问题，传递东方、解忧、实用、精选的价值观和生活方式。「客听」愿成为都市人的“公共客厅”。",
            "p3":"加盟优势",
            "p4":"「客听」业务模块内包含茶饮点心、热销商品和精选书籍三个模块，提高酒店大堂坪效，转化现有空间，不产生新的租金，进一步有效开发前台人员的片段时间和潜能，不产生新的人力成本。作为去年夏天诞生的新品牌，2019铺店计划已经接近100家，有效转化酒店通路的客群零售消费力。随着加盟商的集合效应，「客听」在研究消费酒店客人趋势、开发和采购商品的成本下降上具有规模优势。"
          
        },
    {
    "p1":"模式亮点",
    "p2":"通过打造新的城市“第三空间”，打破酒店与所在社区之间的围墙，让客房内的住客愿意来到大堂，并增加新的人流作为成长点，吸引酒店外的都市白领、周边社区居民愿意走进酒店，为酒店提供新的业务增长点和利润模块。"
    }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "要求:一、二、三线及省会城市、直辖市及全国主要经济发达的城市，靠近大型商业中心、商务中心、展览中心、游乐中心、交通中心、交易中心，有充足的客源支持，具有良好的可视性及广告效果，周边有完善的餐饮、商业配套，物业产权清晰。（目前暂只接受华住集团旗下酒店加盟）",
                    "项目面积:100-300㎡ 最佳"
                ]
            }
          
          
       
        
        ],
         "img":[ "/hotelImg/keting/1.jpg",
			 	 "/hotelImg/keting/2.jpg",
			 	 "/hotelImg/keting/3.jpg",
				 "/hotelImg/keting/4.jpg",
                  "/hotelImg/keting/5.jpg"
                 
				 
				 ],
        "payData":[
            {
                
                "title":"",
                "payData_detail":[
                    { "itemName":"1，合同年限","itemValue":"2年及以上"},
                    { "itemName":"2，加盟管理费","itemValue":"5万/年（2019签约单位永久免除）"},
                    { "itemName":"3，加盟保证金","itemValue":"10万（2019签约单位免收）"},
                    { "itemName":"4，采购套餐（1+2+3）","itemValue":"1）首批开业套装（商品100sku + 300本图书 + 水吧设备一套），约120000-180000元（差异在水吧设备的不同：含咖啡机/不含咖啡机）。商品含一定比例退换货。 2）陈列道具套装，3000元； 3）《每月一书》主打图书采购，平均300元/月"}
                ]
            }
           
        ] 

    },{
        "title":"yilai",
        "logo":"/join/选中_怡莱.png",
        "history":{
            "p1":"华住酒店集团旗下的个性品牌，在满足“睡好觉、上好网”的基本需求外，更已入住的“小惊喜”为住客营造愉悦的住宿体验。高性价，多元产品标准打造，适于追求性价比和个性的经济型酒店顾客。",
            "p2":"截至2017年5月，遍布全国29个省、自治区、直辖市，开业门店187家，客房13861间，在业内创造了两年签约开业200家，重点布局一、二、三线城市，发展迅猛。"	
        },
        "des":[{
            "p1":"怡莱之力",
            "p2":"怡莱定位经济型酒店，布点能力强。产品设计的高包容性和硬件标准的高要求形成快速发展渗透的能力。运营团队针对个性化产品的管理经验丰厚，服务意识和标准服务管理将是怡莱运营管理能力的最强之处。在未来怡莱有望成为门店数量最多的酒店品牌，成为最能满足顾客个性化喜好的经济型酒店。"
        ,"p3":"加盟优势",
        "p4":"怡莱对品质的要求，体现在硬件标准上，而不是单一的装饰风格上，对于单体业主（加盟商）来说，怡莱是最易加盟且最能快速加盟的首选品牌。加盟后能快速收获短期盈利，个性产品的维保也更易于个性化的开展，能够保障长期盈利能力。业主能通过持续的细项升级，在阶段成本投入不高的情况下，不断提高产品的竞争能力，突破板块内竞争。"
            }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "一至三线经济发达的商旅城市",
                    "靠近大型商业中心、CBD、展览中心、旅客 中心、交通中心、交易中心、有充足的客源",
                    "具有良好的可视性及广告效果",
                    "交通方便快捷",
                    
                    "周边有完善的餐饮、商业配套",
                    "建筑面积：2000-6000㎡",
                 "房间数：60-120 间",
                 "周边进出通畅并有一定的停车位",
                 "具备基本消防条件，水电满足酒店运营要求",
                 "需满足品牌评审改造要求"
                ]
            }
          
       
        
        ],
         "img":[ "/hotelImg/yilai/1.jpg",
			 	 "/hotelImg/yilai/2.jpg",
			 	 "/hotelImg/yilai/3.jpg",
				 "/hotelImg/yilai/4.jpg",
                  "/hotelImg/yilai/5.jpg"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"按加盟商实际租赁合同为加盟年限"},
                    { "itemName":"保准加盟费","itemValue":"2500元/间（不低于12万）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"一类城市：16000元二类城市：15500元 三类、四类、五类城市：12000元"},
                   
                    { "itemName":"工程配合费","itemValue":"10000元"},
                    
                    { "itemName":"工程保证金","itemValue":"20000元（正式营业后冲抵加盟管理费）"},
                    { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"}
                ]
            }
           
           
        ] 
    },
    {
        "title":"14",
         "logo":"/join/选中_汉庭优佳.png",
        "history":{
            "p1":"日常生活 匠心之美 加一份可选的自在 加一份婉约的体贴 加一丝艺术气息 汉庭优佳是一个美丽的加号 始终为你的生活加分",
            "p2":"在市场强大需求的推动下，产品差异化、服务多元化将成为酒店发展的强大驱动力。华住集团通过市场调研及精细的数据分析，汉庭品牌精准细分顾客类型，以丰富的产品线，差异化对标不同消费者的个性需求，汉庭优佳，就此应运而生。 汉庭优佳的出现，填补了汉庭2.0产品和中档品牌之间的空档，从物业的条件和位置上，每一个品牌对与他相邻的品牌都应有一个相对清楚的错位，我们很重要的目标，就是在一个合理的价位上，给到顾客一个美好的产品。"	
        },
        "des":[{
            "p1":"管理模式化",
            "p2":"加盟店按照直营管理模式，全面确保品质统一 "
        ,"p3":"效益最大化",
        "p4":"用品采购、能耗控制、硬件维护等全面遵循效益最大化原则"
            },
        {
            "p1":"服务系统化",
            "p2":"全新升级加盟系统，平台提供全方位服务",
            "p3":"沟通制度化",
            "p4":"加盟商定期沟通机制，分公司统筹管理资源、确保效率 "
        }],
        "property_cond":[
            {
                "title":"",
                "property_cond_detail":[
                    "便利的交通条件",
                    "周边生活气息浓厚、配套设施完善",
                    "产权明晰、消防验收合格",
                    "大堂公共区域面积：80㎡ 以上",
                    
                    "单间使用面积：18㎡ 以上",
                    "建筑面积：2000-8000㎡"
                 
                ]
            }
          
       
        
        ],
         "img":[ "/hotelImg/htyoujia/1.jpg",
			 	 "/hotelImg/htyoujia/2.JPG",
			 	 "/hotelImg/htyoujia/3.JPG",
				 "/hotelImg/htyoujia/4.jpg",
                  "/hotelImg/htyoujia/5.png"
                 
				 
				 ],
        "payData":[
            {
                "title":"",
                "payData_detail":[
                    { "itemName":"加盟期限","itemValue":"10年（按加盟商实际租赁合同为加盟年限）"},
                    { "itemName":"保准加盟费","itemValue":"2500元/间（不低于15万）"},
                    { "itemName":"保证金","itemValue":"10万元"},
                    { "itemName":"CRS","itemValue":"8%"},
                    { "itemName":"加盟管理费","itemValue":"每月营业总收入*5%=特许品牌使用费的3% + 特许品牌支持费的2%"},
                    { "itemName":"酒店总经理费","itemValue":"160间房以下： 一类城市：16000元/月 二类城市：15000元/月 三类城市：13000元/月 四类、五类城市：10000元/月 160间房以上： 一类城市：18000元/月 二类城市：17000元/月 三类城市：15000元/月 四类、五类城市：12000元/月"},
                   
                    { "itemName":"工程配合费","itemValue":"30000元"},
                    
                   
                    { "itemName":"HPMS安装","itemValue":"初装费5000元，维护费800元／月"}
                ]
            }
           
           
        ]  
    }


]}