<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    fullpage插件是一个基于jquery的全屏滚动插件，支持ie8+、以及其他的主流浏览器，功能强大，体积只有7k，下面记录一些笔记，需要的时候可以查看。

fullPage使用笔记：

1、引入fullPage的css样式库、引入jquery（1.6以上）、引入fullPage的js文件、推荐使用cdnjs加速

2、页面结构:

<div id="fullPage">

<div class="section">一些内容</div>

<div class="section”>//slide幻灯片，可以滑动

<div class="silde">1</div>

<div class="silde">2</div>

<div class="silde">3</div>

<div class="silde">4</div>

</div>

<div class="section">一些内容</div>

<div class="section">一些内容</div>

</div>

3、API：

sectionsColor: 可以为每一个section设置background-color属性

controlArrows: 定义是否通过箭头控制slide幻灯片，默认为true。当设置为false时，幻灯片两侧的箭头会消失。在移动设备上可以通过滑动来操作幻灯片。

verticalCentered: 每一页的内容是否垂直居中，默认为true，一般保持默认。

resize: 字体是否随着窗口缩放而缩放，默认为false。

scrollingSpeed: 滚动速度，单位是毫秒，默认是700。

anchors: 定义锚链接，默认值为[]。有了锚链接，用户可以快速打开定位到某一页面。注意定义锚链接的时候，值不要和页面中任意的id或name相同，尤其是ie浏览器下，而且定义时不需要加#。

lockAnchors: 是否锁定锚链接，默认为false。如果设置为true，那么定义的锚链接，也就是anchors属性没有效果。这个配置使用的比较少。

easing: 定义页面section滚动的动画方式，默认为easeInOutCubic，如果修改此项，需要引入jquery.easings插件，或者jquery ui。

css3: 是否使用css3 transform来实现滚动效果，默认为true。这个配置项可以提高支持css3的浏览器，比如移动设备等的速度，如果浏览器不支持css3，则会使用jquery来代替css3实现滚动效果。

loopTop: 滚动到最顶部后是否连续滚动到底部，默认为false。

loopBottom滚动到最底部后是否连续滚动返回顶部，默认为false。

loopHorizontal: 横向slider幻灯片是否循环滚动，默认为true。

autoScrolling: 是否使用插件的滚动方式，默认为true，如果选择false，则会出现浏览器自带的滚动条，将不会按页滚动，而是按照滚动条的默认行为来滚动。

scrollBar: 是否包含滚动条，默认为false，如果设置为true，则浏览器自带的滚动条会出现，页面滚动时还是按页滚动，但是滚动条默认行为也有效。

paddingTop/paddingBottom: 设置每一个section顶部和底部的padding，默认都为0.一般如果我们需要设置一个固定在顶部或者底部的菜单，导航、元素等，可以使用这两个配置项。

fixedElements: 固定的元素，默认为null，需要配置一个jquery选择器。在页面滚动的时候，fixedElements设置的元素固定不动。

keyboardScrolling: 是否可以使用键盘方向键导航，默认为true。

touchSensitivity: 在移动设备中滑动页面的敏感性，默认为5，是按百分比来衡量，最高为100，越大越难滑动。

continuousVertical: 是否循环滚动，默认为false。如果设置为true，则页面会循环滚动，而不像loopTop或loopBottom那样出现跳动，这个属性与loopTop、loopBottom不兼容，不要同时设置。

animateAnchor: 锚链接是否可以控制滚动动画，默认为true，如果设置为false，则通过锚链接定位到某个页面显示不再有动画效果。

recordHistory: 是否记录历史，默认为true，可以记录页面滚动的历史，通过浏览器的前进后退的导航。注意如果设置了autoScrolling:false，那么这个配置也将被关闭，即设置为false。

menu: 绑定菜单，设定的相关属性与anchors的值对应后，菜单可以控制滚动，默认为false。可以设置为菜单的jquery选择器。例子：

<ul id="fullpageMenu">

<li data-menuanchor="page1"><a href="#page1"></a></li>

<li data-menuanchor="page2"><a href="#page2"></a></li>

<li data-menuanchor="page3"><a href="#page3"></a></li>

<li data-menuanchor="page4"><a href="#page4"></a></li>

</ul>

配置：

menu:’#fullpageMenu’



navigation: 是否显示导航，默认为false。如果设置为true，会显示小圆点，作为导航。

navigationPosition: 导航小圆点的位置，可以设置left或者right。

navigationTooltips: 导航小圆点的tooltips设置，默认为[]，主要按照顺序设置。

showActiveTooltip: 是否显示当前页面的导航的tooltip信息，默认为false。

slidesNavigation: 是否显示横向幻灯片的导航，默认为false。

slidesNavPosition: 横向幻灯片导航的位置，默认为bottom，可以设置top或者bottom。

scrollOverflow: 内容超过满屏后是否显示滚动条，默认为false。如果设置为true，则会显示滚动条，如果要滚动查看内容，还需要jquery.slimscroll插件的配合。slimscroll插件主要用于模拟传统浏览器滚动条。

sectionSelector: section的选择器，默认为.section。

slideSelector: slide的选择器，默认为.slide。











方法：（$.fn.fullpage.moveSectionUp()）

moveSectionUp(): 向上滚动一页。

moveSectionDown(): 向下滚动一页。

moveTo(section,slide): 滚动到第几页，第几个幻灯片，注意页面是从1开始，而幻灯片是从0开始。

slientMoveTo(section,slide): 滚动到第几页，和moveTo一样，但是没有动画效果。

moveSlideRight(): 幻灯片向右滚动。

moveSlideLeft(): 幻灯片向左滚动。



setAutoScrolling(boolean): 动态设置autoScrolling。

setLockAnchors(boolean): 动态设置lockAnchors。

setRecordHistory(boolean): 动态设置recordHistory。

setScrollingSpeed(milliseconds): 动态设置scrollingSpeed。

setAllowScrolling(boolean,[directions]): 添加或删除鼠标滚轮/滑动控制，第一个参数true为启用，false为禁用，后面的参数为方向，取值包括all, up, down, left, right, 可以使用多个 , 逗号分隔。

destroy(type): 销毁fullpage特效，type可以不写，或者使用all，不写type，fullpage给页面添加的样式和html元素还在，如果使用all，则样式、html等全部销毁，页面恢复和不使用fullpage相同的效果。

reBuild(): 重新更新页面和尺寸，用于通过ajax请求后改变了页面结构之后，重建效果。





回调函数：

afterLoad(anchorLink,index): 滚动到某一section，且滚动结束后，会触发一次此回调函数，函数接收anchorLink和index两个参数，anchorLink是锚链接的名称，index是序号，从1开始计算。

ps：可以根据anchorLink和index参数值的判断，触发相应的事件。

onLeave(index,nextIndex,direction): 在我们离开一个section时，会触发一次此回调函数，接收index、nextIndex和direction 3个参数：

index：是离开的“页面”的序号，从1开始计算。

nextIndex：是滚动到的目标的“页面”的序号，从1开始计算。

direction：判断往上滚动还是往下滚动，值是up或者down。

通过return false;可以取消滚动。

afterRender(): 页面结构生成后的回调函数，或者说页面初始化完成后的回调函数。

afterResize(): 浏览器窗口尺寸改变后的回调函数。

afterSlideLoad(anchorLink,index,slideAnchor,slideIndex): 滚动到某一幻灯片后的回调函数，与afterLoad类似。

onSlideLeave(anchorLink,index,slideIndex,direction,nextSlideIndex): 在我们离开一个slide时，会触发一次此回调函数，与onLeave类似。
原文链接：https://blog.csdn.net/u014477038/article/details/50992606
<div>
    <template>
        <div id="join" >
            <full-page ref="fullpage" :options="options" id="fullpage">
             <div class="join-index-content ">
              <!-- 轮播图 -->
               <div class="join-index-carousel section" ref="pageModRef_1">
                  <el-carousel :autoplay='isAutoplay' :height="carouselHeight" trigger="click" v-if="carouselImg.length>1">
                        <el-carousel-item v-for="(item,index) in carouselImg" :key="index">
                            <img :src="item.imgUrl" alt="背景图">
                        </el-carousel-item>
                    </el-carousel>
                    <el-carousel trigger="click" :height="carouselHeight" v-else indicator-position="none">
                        <el-carousel-item v-for="(item,index) in carouselImg" :key="index">
                            <img :src="item.imgUrl" alt="背景图">
                        </el-carousel-item>
                    </el-carousel>
    
                    <div class="join-btn">
                        <el-button type="primary" @click="toApplication">我要加盟<span class="join-icon"></span></el-button>
                    </div>
               </div>
              
              <div class="section">
                    <!-- 加盟优势 -->
                    <div ref="pageModRef_2"  >
                        <el-row class="join-index-advantage w1200" >
                            <el-row><p><span class="side-line font-size-28" >加盟优势</span></p></el-row>
                            <el-row class="widthOuter">
                                <el-col class="advan-img-list" :span="8"  v-for="(item,index) in advantageNotice" :key="index" :style="(((index+1)%3)===2)?{margin:'0px 40px'}:{margin:'0px'}">
                                    <el-card :body-style="{ padding: '0px' }">
                                        <img :src="item.imgUrl" class="image">
                                        <div style="padding: 8px;" class="advan-img-title">
                                            <span class="txt">{{item.title}}</span>
                                        </div>
                                        <div style="padding: 8px;" class="advan-img-title-hover">
                                            <span class="txt">{{item.title}}<p class="des">{{item.des}}</p></span>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                        </el-row>
                    </div>
              </div>
                    <!-- 加盟攻略 -->
                    <div class="section ">
                    <div ref="pageModRef_3" >
                        <el-row class="join-index-strategy w1200" > 
                            <el-row><p><span class="side-line font-size-28">加盟攻略</span></p></el-row>
                            <el-row>
                                <el-col class="strategy-img-list" :span="8"  v-for="(item,index) in joinDetail.joinStrategy" :key="index" :style="(((index+1)%3)===2)?{margin:'0px 40px'}:{margin:'0px'}">
                                    <router-link tag="div" :to="'/strategy?type='+item.key">
                                        <el-card :body-style="{ padding: '40px 10px 20px' }" shadow="always">
                                            <img class="strategy-icon" :src="item.imgUrl" alt="图标">
                                            <p class="font-size-24" style="margin-bottom:10px">{{item.title}}</p>
                                            <p class="join-des font-size-16">{{item.des}}</p>
                                            <el-button class="detail-btn">查看详情</el-button>
                                        </el-card> 
                                    </router-link>
                                </el-col>
                            </el-row>
                        </el-row>
                    </div>
               </div>
               <!-- 华住品牌 -->
               <div  class="section">
                   <div :style="{height:carouselHeight}"  ref="pageModRef_4">
                   <el-row class="hz-brands" >
                       <el-row class="w1200 font-size-32" style="margin-top:80px;">华住旗下汉庭、漫心、花间堂等众多品牌供您选择加盟</el-row>
                       <el-row class="hz-brands-lists w1200">
                           <p class="font-size-28 title">华住品牌</p>
                           <el-row>
                                <div class="item-list" v-for="(brands,index) in hotelBrands" :key="index">
                                    <p class="font-size-24 brandCate">{{brands.type}}</p>
                                        <ul>
                                            <li class="brands-list" v-for="(item,index) in brands.brands" :key="index">
                                                <img class="brands-list-icon" :src="item.imgUrl" alt="酒店标识">
                                            </li>
                                        </ul>
                                   </div>
                           </el-row>
                       </el-row>
                   </el-row>
                   </div>
                 </div>
                 <div  class="section" style="background:#F7F7F7" ref="pageModRef_5">
                    <joinFooter></joinFooter>
          </div  >
          </div>
    </full-page>
           <div class="pageNav" ref="pageNav" id="menu">
              <el-tooltip data-menuanchor='page1' class="item active" effect="dark" ref="pointeRef_1" content="我要加盟" placement="left">
              <span class="point" @click="moveTo(1,0)"> <a href="#page1"></a></span>
            </el-tooltip>
            <el-tooltip data-menuanchor='page2' class="item" effect="dark" ref="pointeRef_2" content="加盟优势" placement="left">
              <span class="point" @click="moveTo(2,0)"> <a href="#page2"></a></span>
            </el-tooltip>
            <el-tooltip  data-menuanchor='page3' class="item" effect="dark" ref="pointeRef_3" content="加盟攻略" placement="left">
              <span class="point" @click="moveTo(2)"> <a href="#page3"></a></span>
            </el-tooltip>
            <el-tooltip data-menuanchor='page4' class="item" effect="dark" ref="pointeRef_4" content="华住品牌" placement="left">
              <span class="point" @click="moveTo(3)"> <a href="#page4"></a></span>
            </el-tooltip>
            <el-tooltip data-menuanchor='page5' class="item" effect="dark" ref="pointeRef_5" content="联系方式" placement="left">
              <span class="point" @click="moveTo(4)"> <a href="#page5"></a></span>
            </el-tooltip>
          </div> 
          
         
          </div>
           
        
    </template>
    <script>
    import '../assets/css/fullpage.min.css';
    import joinFooter from "../components/common/footer";
    export default{
        name:"index",
        components:{
            joinFooter
        },
        data(){
            return{
                options: {
                    
                  licenseKey: 'OPEN-SOURCE-GPLV5-LICENSE',
                    afterLoad: this.afterLoad,
                    scrollOverflow: true,
                    scrollBar: false,
                    menu: '#menu',
                    // navigation: true,
                    anchors: ['page1', 'page2', 'page3',"page4",'page5'],
                    sectionsColor: ['#41b883', '#ff5f45', '#0798ec', '#fec401', '#F7F7F7']	
                },
                isAutoplay:true,
                carouselImg:[
                    {imgUrl:require("../assets/image/banner/banner-top.jpg"),title:""}
                ],
                advantageNotice:[//加盟优势
                    {
                        title:"回报好",
                        des:"多元品牌可供选择，强大会员体系直连，精英IT技术团队，高效品牌运营管理，为您创造更好财务回报。",
                        imgUrl:require("../assets/image/banner/index-you-1.jpg")
                    },
                        {
                        title:"加盟易",
                        des:"加盟流程简便，客服经理全程指导，投资回报预测精细，为您提供更优加盟服务。",
                        imgUrl:require("../assets/image/banner/index-you-3.jpg")
                    },
                        {
                        title:"有面子",
                        des:"世界第9大酒店集团，品牌位居行业前列，酒店品牌更有格调，酒店产品更有质感，为您加盟更具品味价值。",
                        imgUrl:require("../assets/image/banner/index-you-2.jpg")
                    },
                ],
                hotelBrands:[
                    {
                        type:"经济型",
                        brands:[//经济型酒店
                            {imgUrl:require("../assets/image/logo/index/icon-white-hanting.png"),title:"汉庭酒店"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-haiyou.png"),title:"海友酒店"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-yilai.png"),title:"怡莱"},
                        ]
                    },
                    {
                        type:"舒适型",
                        brands:[//舒适型酒店
                            {imgUrl:require("../assets/image/logo/index/icon-white-quanji.png"),title:"全季酒店"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-youjia.png"),title:"汉庭优佳"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-juzijixuan.png"),title:"桔子精选"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-yibisi.png"),title:"宜必思"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-ybsshangpin.png"),title:"宜必思尚品"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-xincheng.png"),title:"星程"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-citigo.png"),title:"CitiGO"},
                        ]
                    },
                    {
                        type:"高档型",
                        brands:[//高档型酒店
                            {imgUrl:require("../assets/image/logo/index/icon-white-meijue.png"),title:"美爵"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-manxin.png"),title:"漫心酒店"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-juzishuijing.png"),title:"桔子水晶"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-nuofute.png"),title:"诺富特"},
                        ],
                    },
                    {
                        type:"豪华型",
                        brands:[//豪华型酒店
                            {imgUrl:require("../assets/image/logo/index/icon-white-xiyue.png"),title:"禧月"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-huajiantang.png"),title:"花间堂"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-meiju.png"),title:"美居"},
                        ],
                    },
                    {
                        type:"周边",
                        brands:[//豪华型酒店
                            {imgUrl:require("../assets/image/logo/index/icon-white-keting.png"),title:"客听"},
                            {imgUrl:require("../assets/image/logo/index/icon-white-mankafei.png"),title:"漫咖啡"},
                        ]
                    }
                ],
                joinDetail:{
                    joinStrategy:[//加盟攻略
                        {imgUrl:require("../assets/image/icon/icon-jmlc.png"),title:"加盟流程", key:"jmlc", des:"意向人申请-项目初审-项目决策-合同签署"},
                        {imgUrl:require("../assets/image/icon/icon-jrzc.png"),title:"金融支持", key:"jrzc", des:"华住10亿金融授信，破局酒店资金困境，预估可贷款金额，让您开店无忧"},
                        {imgUrl:require("../assets/image/icon/icon-wypg.png"),title:"物业评估", key:"wypg", des:"在线物业评估，选择最合适的华住酒店品牌"},
                    ]
                },
                scrollY: -1,
                scrollTop: 0,
                listGroupRef: [], //模块ref列表
                listHeight: [], //模块高度
                currentIndex: 0 //
            }	
        },
        computed: {
            carouselHeight () {
                return (window.innerHeight - 80).toString() + 'px'
            }
        },
        mounted () {
            this.$nextTick(()=>{
                this.calculateHeight()
                window.addEventListener('scroll',this.scroll_)
            })
        },
        destroyed () {
            window.removeEventListener("scroll", this.scroll_)
        },
        methods :{
            scroll_ () {
                this.scrollTop = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop || document.querySelector(this.el).scrollTop
              if (this.scrollTop) {
                  const listHeight = this.listHeight
                  for (let i = 0; i < listHeight.length-1; i++) {
                    let height1 = listHeight[i]
                    let height2 = listHeight[i + 1]
                    if (this.scrollTop >= height1 && this.scrollTop < height2) {
                      this.currentIndex = i
                      this.$refs['pointeRef_'+(i+1)].$el.classList.add('active');
                      this.$refs['pointeRef_'+(i+1)].$el.classList.remove('grey');
                      
                    } else {
                        this.$refs['pointeRef_'+(i+1)].$el.classList.remove('active');
                        this.$refs['pointeRef_'+(i+1)].$el.classList.add('grey');
                        if (this.scrollTop > listHeight[5]) {
                          this.$refs['pointeRef_5'].$el.classList.add('active');
                          this.$refs['pointeRef_5'].$el.classList.remove('grey');
                        }	
                    }
    
                  }
    
              }
            },
            sliderPage (num) {
                for (let i in this.listGroupRef) {
              if (i.indexOf('pageModRef') > -1) {
                  if (parseInt(i.substr(-1,1)) ==num ){
                      this.$refs['pointeRef_'+num].$el.classList.add('active')
                      this.$refs['pointeRef_'+num].$el.classList.remove('grey')
                      this.scrollTop = this.listHeight[parseInt(i.substr(-1,1))-1]
                      window.scrollTo(0,this.listHeight[parseInt(i.substr(-1,1))-1])
                      //console.log(this.listHeight[])
                  } else {
                      this.$refs['pointeRef_'+parseInt(i.substr(-1,1))].$el.classList.remove('active')
                      this.$refs['pointeRef_'+parseInt(i.substr(-1,1))].$el.classList.add('grey')
                  }
              }
          }
            },
            calculateHeight() {
          this.listGroupRef = this.$refs
          if (!this.listGroupRef) {
            return
          }
          let height = 0
          this.listHeight.push(height)
          for (let i in this.listGroupRef) {
              if (i.indexOf('pageModRef') > -1) {
                  let item = this.listGroupRef[i]
                height += item.clientHeight
                this.listHeight.push(height)
              }
          }
        },
        toApplication () {
                window.location.href = 'http://www.htinnsjm.com/User/Application'
            }
        }
        
    }
    </script>
    
</div>
</body>
</html>