.search_box.detail{
    margin-right: 10px;
   }
   .yunHeader .state_nav{
       border-bottom:1px solid #E0E0E0;
       background: #f8f8f8;
       border: 0;
   }
.yunlogo {
    text-align:left !important;
    color:#169BE8 !important;
}
.header_search .submit_btn.searchall{
    width: 100px;
}

.search_box.detail .search{
    width: 389px;
}
.search_box.detail .search .search_ipt{
    width: 290px;
}
.header_search .fl_tag{
    padding-left:40px;
}
.search_box .search_tab li.on {
    padding: 0 14px 0 0;

}
.search_box .search_tab li.last {
    padding: 0 14px;
}

.search_box .search .search_ipt {
    width: 400px ;
}

.header_search .search_box .search_tab {
    margin-bottom: 10px !important;
}
.user_login .user_name i{
    background: url(./展开.png) 0 no-repeat;
    width: 12px;
}
.note_box.hd{
    background: url(./消息.png) left center no-repeat;
}
.note_box.hd .note-link-more{
    
        background: url(./查看更多.png)  center right no-repeat;
    
}
.state_nav .nav_right li.myorder a{
    background: url(./我的订单.png)   no-repeat;
}
.state_nav .nav_right li.porder a{
    background: url(./购物车.png)   no-repeat;
}
.state_nav .nav_right li.personcenter a{
    background: url(./意见箱.png)   no-repeat;
}
.state_nav .nav_right li.shopcenter a{
    background: url(./商家注册.png)   no-repeat;
}
.state_nav .nav_right li.noicon a{
    background: url(./商家注册.png)   no-repeat;
}



 















 






















.yunHeader {
    border-bottom: 1px solid #E0E0E0;
}



